<h1>New user</h1>

<%= form_for @user do |f| %>
  Name:     <%= f.text_field :name, autofocus: true, placeholder: 'Enter name' %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>

<%= render 'signed-in' %>