<h1>List of Events</h1>
<% @events.each do |e| %>
  <div>
    Description: <%= e.description %><br>
    Location:    <%= e.location %><br>
    Date:        <%= e.date %><br>
    Host:        <%= e.host.name %><br>
    <%= link_to "More info", event_path(e) %>
    <hr>
  </div>
<% end %>

<%= render 'layouts/links' %><br>
<%= render 'users/signed-in' %>