<h1>New Event</h1>

<%= form_for @event do |f| %>
  Description: <%= f.text_area :description, autofocus: true %><br>
  Location:    <%= f.text_field :location %><br>
  Date:        <%= f.date_field :date %><br>
  <%= f.submit %>
<% end %>

<%= render 'users/signed-in' %>